<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>AEIPA_mvnJettyWebApp</display-name>



    <servlet>
    	<description>
    	</description>
    	<display-name>IPASupplierServlet</display-name>
    	<servlet-name>IPASupplierServlet</servlet-name>
    	<servlet-class>supplier.controller.IPASupplierServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserLoginServlet</display-name>
    	<servlet-name>UserLoginServlet</servlet-name>
    	<servlet-class>supplier.controller.UserLoginServlet</servlet-class>
    </servlet>

    <servlet>
    	<description>
    	</description>
    	<display-name>UserValidationServlet</display-name>
    	<servlet-name>UserValidationServlet</servlet-name>
    	<servlet-class>controller.UserValidationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserRegistrationServlet</display-name>
    	<servlet-name>UserRegistrationServlet</servlet-name>
    	<servlet-class>controller.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IPACreateNewServlet</display-name>
    	<servlet-name>IPACreateNewServlet</servlet-name>
    	<servlet-class>controller.IPACreateNewServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IPAUploadServlet</display-name>
    	<servlet-name>IPAUploadServlet</servlet-name>
    	<servlet-class>controller.IPAUploadServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OLD_InputDatasetCreatNewServlet</display-name>
    	<servlet-name>OLD_InputDatasetCreatNewServlet</servlet-name>
    	<servlet-class>controller.OLD_InputDatasetCreatNewServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DatasetUploadServlet</display-name>
    	<servlet-name>DatasetUploadServlet</servlet-name>
    	<servlet-class>controller.DatasetUploadServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OLD_BenchmarkDatasetUploadServlet</display-name>
    	<servlet-name>OLD_BenchmarkDatasetUploadServlet</servlet-name>
    	<servlet-class>controller.OLD_BenchmarkDatasetUploadServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IPADatasetSearchServlet</display-name>
    	<servlet-name>IPADatasetSearchServlet</servlet-name>
    	<servlet-class>controller.IPADatasetSearchServlet</servlet-class>
    </servlet>

    <servlet>
    	<description>
    	</description>
    	<display-name>IPAJavaDockerExecuteServlet</display-name>
    	<servlet-name>IPAJavaDockerExecuteServlet</servlet-name>
    	<servlet-class>controller.IPAJavaDockerExecuteServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DatasetCreatNewServlet</display-name>
    	<servlet-name>DatasetCreatNewServlet</servlet-name>
    	<servlet-class>controller.DatasetCreatNewServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GroundTruthDatasetUploadServlet</display-name>
    	<servlet-name>GroundTruthDatasetUploadServlet</servlet-name>
    	<servlet-class>controller.GroundTruthDatasetUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>IPASupplierServlet</servlet-name>
    	<url-pattern>/IPASupplierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>UserValidationServlet</servlet-name>
    	<url-pattern>/UserValidationServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>UserLoginServlet</servlet-name>
    	<url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserRegistrationServlet</servlet-name>
    	<url-pattern>/UserRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IPACreateNewServlet</servlet-name>
    	<url-pattern>/IPACreateNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IPAUploadServlet</servlet-name>
    	<url-pattern>/IPAUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OLD_InputDatasetCreatNewServlet</servlet-name>
    	<url-pattern>/OLD_InputDatasetCreatNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DatasetUploadServlet</servlet-name>
    	<url-pattern>/DatasetUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OLD_BenchmarkDatasetUploadServlet</servlet-name>
    	<url-pattern>/OLD_BenchmarkDatasetUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IPADatasetSearchServlet</servlet-name>
    	<url-pattern>/IPADatasetSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IPAJavaDockerExecuteServlet</servlet-name>
    	<url-pattern>/IPAJavaDockerExecuteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DatasetCreatNewServlet</servlet-name>
    	<url-pattern>/DatasetCreatNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GroundTruthDatasetUploadServlet</servlet-name>
    	<url-pattern>/GroundTruthDatasetUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
